body {
	padding-left: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: tan;
	background-image: url("/assets/img/papyrus.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
}

header {
	font-size: 36px;
	display: flex;
	justify-content: center;
	border-bottom: solid 2px #333;
    background-color: #333;
    color: white;
  
}

h1 {
	font-size: 36px;
	
	
}

h2 {
    font-size: 18px;
	padding-left: 33%;
	padding-bottom: 5px;
	margin-right: 20px;
	border-bottom: solid 3px  black;
	width: 100%;
	
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background: #333;
	color: white;
}

#gold {
	position: absolute;
	bottom: 0px;
	align-items: center;
	padding: 5px 10px;
	color: white;
	text-decoration: initial;
}

#gold img {
	width: 30px;
	margin-right: 10px;
}

nav ul {
	padding: 0;
}

nav li {
	display: block;
	margin-bottom: 10px;
}

nav a {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	color: white;
	text-decoration: initial;
	transition: all 0.5s ease-in-out;
}

nav a::before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 50px;
	background: #a39797;
	transition: width 0.25s ease-in;
	z-index: -1;
}

nav a img {
	width: 30px;
	margin-right: 10px;
}

nav a:hover {
	padding: 5px 20px;
	color: white;
}

nav a:hover::before {
	width: 100%;
}

section {
	padding: 0 30%;
}

section h2 {
    padding-top: 20px;
}

/* section > table {
	display: block;
	margin-left: 10%;
} */


table{
	font-size: 25px;
}

